body{
    font-family: "Poppins",sans-serif;
    
    max-width: 1280px;
    margin: 0 auto;
}
.carrosel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.informacoes{
    display: none;
}
.informacoes.ativa{
    display: block;
}
.conteudo{
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}
.informacoes h1 {
  
    font-size: 35px;
    color: #ffff;
    margin-bottom: 80px;font-family: "GOT";
    letter-spacing: 8px;
    margin-left: 50px;
}

@font-face {
    font-family: "GOT";
    src: url(../src/fontes/GOT.ttf);
}
.informacoes .descricao{

    width: 47%;
    font-size: 24px;
    color: #ffff;
    line-height: 35px;
    height: 300px;
    overflow: auto;
    padding-right: 15px;
    margin-left: 50px;
}
.botoes-carrossel{

    display: flex;
    justify-content: center;
    gap: 20px;
   
}
.botoes-carrossel .botao{
    background-color: #ffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    border-color: #ffff;
  
}
.botoes-carrossel .botao.selecionado{
    background-color: darkgreen;
}
.imagem{
    width: 100vw;
    height: 100vh;
    display: none;
    
}
.imagem.ativa{
    display: block;
    animation: mudarImagem 0.7s;
}

@keyframes mudarImagem{
    from{
        opacity: 0.85;
    }
    to{
        opacity: 1;
    }
}
main:after{
    content: "";
    min-height:  100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0.76234243697479) 38%, rgba(33,27,27,0.38699229691876746) 73%, rgba(99,98,98,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.76234243697479) 38%, rgba(33,27,27,0.38699229691876746) 73%, rgba(99,98,98,0) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,0.76234243697479) 38%, rgba(33,27,27,0.38699229691876746) 73%, rgba(99,98,98,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#636262",GradientType=1);
    z-index: -1;

}